<%# The Content Heading %>
<% if (title) { %>
    <h1 class="accountTitle">
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%# Flash Messages %>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice flashBox">
        <% errors.array().forEach(error => { %>
            <% if (error.msg !== 'Invalid value') { %>
                <li><%= error.msg %></li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<section class="inventory-management account-management">
    <h2>Welcome <%= locals.accountData.account_firstname %></h2>

    <h3>Account Management</h3>
    <p>Need to update your account information? Click the link below to modify your name, email, or password.</p>
    <p class="account-management-link"><a href="/account/update/<%= locals.accountData.account_id %>" title="Update account information">Update account information</a></p>

    <% if (locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin') { %>
        <hr>
        <h3>Inventory Management</h3>
        <p>As an <%= locals.accountData.account_type %>, you have access to inventory management features. Click the link below to manage your inventory.</p>
        <p class="account-management-link"><a href="/inv/" title="Access Inventory Mapagement">Manage Inventory</a></p>
    <% } %>
</section>
