<%# The Content Heading %>
<% if (title) { %>
    <h1 class="accountTitle">
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<%# Flash Messages %>
<%- messages() %>
<% if (errors) { %>
    <ul class="notice flashBox">
        <% errors.array().forEach(error => { %>
            <% if (error.msg !== 'Invalid value') { %>
                <li><%= error.msg %></li>
            <% } %>
        <% }) %>
    </ul>
<% } %>

<section class="inventory-management">
    <h2>Welcome <%= locals.accountData.account_firstname %></h2>

    <p><a href="/account/update/<%= locals.accountData.account_id %>" title="Update account information">Update account information</a></p>

    <% if (locals.accountData.account_type === 'Employee' || locals.accountData.account_type === 'Admin') { %>
        <h3>Inventory Management</h3>
        <p><a href="/inv/" title="Access Inventory Management">Manage Inventory</a></p>
    <% } %>
</section>
